# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

fcb8372a5034f1003098c42c20047fc4 key

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmY2I4MzcyYTUwMzRmMTAwMzA5OGM0MmMyMDA0N2ZjNCIsInN1YiI6IjY1YjUzNjQ2NGYzM2FkMDEzMTBiYTQ3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GaGOql3_7LGBvGviuj2yHcOCv__yxMwgsXhaOKu1dR0 token
